.register{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.register__container{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 20px;
}

.register__registerHeading{
    margin-bottom: 10px;
    font-weight: 500;
}

.register__container > form > h5{
    font-size: 14px;
    margin-top: 10px;
}

.register__container > form > input{
    margin-top: 5px;
    width: 98%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid grey;
    border-radius: 5px;
}

.register__registerBtn{
    background-color:#Ffc266;
    border: none;
    border-radius: 8px;
    padding:10px 40px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}


